:root {
    --primary-color: #4e46b4;
    --secondary-color: #bab5fc;
    --dark-color: #111111;

    --primary-text-color: #111111;
    --secondary-text-color: #4e46b4;
    --dark-text-color: #b3b5b8;

    --placeholder-color: #b3b5b8;

    --primary-text-color-bg: #ffffff;
    --secondary-text-color-bg: #4e46b4;
    --dark-text-color-bg: #b3b5b8;

    --background-primary-color: #4e46b4;
    --background-secondary-color: #e7e6ff;
    --background-dark-color: #111111;

    --background-hover-primary-color: #{darken(#4e46b4, 10%)};
    --background-hover-secondary-color: #{darken(#e7e6ff, 2%)};
    --background-hover-dark-color: #{lighten(#111111, 16%)};

    --focus-primary-color: #{lighten(#4e46b4, 40%)};
    --focus-secondary-color: #{darken(#e7e6ff, 2%)};
    --focus-dark-color: #{lighten(#111111, 70%)};

    --background: #f9f9f9;
}

[data-theme='dark'] {
    --primary-color: #4e46b4;
    --secondary-color: #bab5fc;
    --dark-color: #111111;

    --primary-text-color: #ffffff;
    --secondary-text-color: #4e46b4;
    --dark-text-color: #b3b5b8;

    --background-primary-color: red;
    --background-secondary-color: #e7e6ff;
    --background-dark-color: #111111;

    --background-hover-primary-color: #{darken(#4e46b4, 10%)};
    --background-hover-secondary-color: #{darken(#e7e6ff, 2%)};
    --background-hover-dark-color: #{lighten(#111111, 16%)};

    --background: #1b1b1b;
}
