* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    line-height: var(--line-height);
    color: var(--color-text-black-white);
    background-color: var(--color-background);
}
